<!DOCTYPE html>
<html lang="ja">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@Page.Title - マイ ASP.NET Web ページ</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="~/Content/prettify.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
		<script src="~/Scripts/bootstrap.js"></script>
		<script src="~/Scripts/prettify.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
        </header>
        <div id="body">
            <section>
                @RenderBody()
            </section>
        </div>
        <footer>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>