@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "バージョン情報";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>アプリケーション説明ページ。</h2>
</hgroup>

<article>
    <p>
        この領域を使用して追加の情報を提供します。
    </p>

    <p>
        この領域を使用して追加の情報を提供します。
    </p>

    <p>
        この領域を使用して追加の情報を提供します。
    </p>
</article>

<aside>
    <h3>挿入タイトル</h3>
    <p>
        この領域を使用して追加の情報を提供します。
    </p>
    <ul>
        <li><a href="~/">ホーム</a></li>
        <li><a href="~/About">会社情報</a></li>
        <li><a href="~/Contact">連絡先</a></li>
    </ul>
</aside>