@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "ホーム ページ";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>ASP.NET Web Pages アプリケーションを簡単に始めるには、このテンプレートを変更してください。</h2>
        </hgroup>
        <p>
            ASP.NET Web Pages の詳細については、
<a href="http://asp.net/webpages" title="ASP.NET Web Pages Web サイト">http://asp.net/webpages</a> を参照してください。
                ページには、 <mark>ビデオ、チュートリアル、およびサンプルが含まれており、</mark> ASP.NET Web Pages を最大限に活用するために役立ちます。
                ASP.NET Web Pages について不明な点がある場合は、
<a href="http://forums.iis.net/1166.aspx" title="ASP.NET Web Pages フォーラム">フォーラム</a>を参照してください。
        </p>
    </div>
</section>
}

<h3>次のことをお勧めします。</h3>

<ol class="round">
    <li class="one">
        <h5>はじめに</h5>
        ASP.NET Web Pages および新しい Razor 構文を使うと、時間のかからないわかりやすく簡単な方法で、サーバー コードと HTML を組み合わせて
動的 Web コンテンツを作成できます。データベースへの接続、ビデオの追加、ソーシャル ネットワーキング サイトへのリンク、その他の多くの
機能を備え、最新の Web 標準を使用した美しいサイトを作成できます。
<a href="http://go.microsoft.com/fwlink/?LinkId=245139">詳細を参照...</a>
    </li>

    <li class="two">
        <h5>NuGet パッケージを追加してコーディングを簡単に始める</h5>
        NuGet により、無料のライブラリやツールのインストールと更新が簡単になります。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245140">詳細...</a>
    </li>

    <li class="three">
        <h5>Web ホスティングを検索する</h5>
        アプリケーションの機能と価格の適切な組み合わせを提供する Web ホスティング会社を簡単に見つけることができます。
<a href="http://go.microsoft.com/fwlink/?LinkId=245143">詳細...</a>
    </li>
</ol>