@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "ホーム ページ";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
        </hgroup>
    </div>
</section>
}

<h2>工事中</h2>