@if (OAuthWebSecurity.RegisteredClientData.Count == 0) {
    <div class="message-info">
        <p>
            外部認証サービスが構成されていません。この ASP.NET アプリケーションをセットアップして、外部サービス経由でのログインをサポートする方法の詳細については、
<a href="http://go.microsoft.com/fwlink/?LinkId=226949">この記事</a>を参照してください。
        </p>
    </div>
} else {
    <form method="post">
    @AntiForgery.GetHtml()
    <fieldset id="socialLoginList">
        <legend>別のサービスを使用してログイン</legend>
        <p>
            @foreach (var client in OAuthWebSecurity.RegisteredClientData) {
                <button type="submit" name="provider" value="@client.AuthenticationClient.ProviderName"
                        title="@client.DisplayName アカウントを使用してログイン">@client.DisplayName</button>
            }
        </p>
    </fieldset>
    </form>
}
